.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  border-top: solid 1px #eff0f1;
  border-bottom: solid 1px #eff0f1;
  padding-top: 1em;
  padding-bottom: 1em;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
}

.PageNavigation .next {
  text-align: right;
}